*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
*.keystore
*.jks
app/src/google-services.json
app/debug/
app/release/
.kotlin/
